flask
flask-wtf
flask-limiter
psycopg2-binary
chromadb
sentence-transformers
pymupdf
pdfplumber
pytesseract
Pillow
groq>=0.11.0
pandas
python-dotenv
werkzeug
waitress
gunicorn
deep-translator==1.11.4
gTTS
ftfy