flask
flask-wtf
# requests
flask-limiter
psycopg2-binary
chromadb
sentence-transformers
pymupdf
groq
pandas
python-dotenv
werkzeug

waitress
gunicorn


# .\venv\Scripts\Activate.ps1    activate virtual enviromnt 

